body{
    background-color: #17181f;
    color: white;
}
main{
    max-width: 300px;
    margin: 30px auto;
}
form{
    width: 100%;
    /* padding: 20px;
    height: 50px; */
}
form input[type="text"]{
    background: none;
    height: 30px;
}
form button{
    background-color: blue;
    color: white;
    padding :10px;
    cursor: pointer;
    border-radius: 10px;
}
div .task{
    background-color: #20212d;
    padding: 20px;
    border-radius: 20px;
    margin-top: 5px;
}